body{
    background-color: lightgrey;
}
.panels{
    width:1220px;
    margin:auto;
    margin-top:100px;
}
.panels div{
   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-panel{
     background-color: white;
    width:800px;
    height:100%;
    float:left;
    border-radius:5px;
    box-shadow:0 0 7px grey;
}

.add-field{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}
.add-field input, button{
    margin:0;
    height:35px;
}

.productNameField{
    width:80%;
    border-radius:5px 0 0 5px;
    border:1px solid lightgrey;
    padding-left:10px;
    
}
.addButton{
    color:white;
    background-color:royalblue;
    box-shadow: 0 2px darkblue;
    font-weight:700;
    font-size:14px;
    width:15%;
    border-radius:0 5px 5px 0;
    border:10px;
    box-sizing: content-box;
}
.productRow{
    border-top:1px solid lightgrey;
    margin-bottom:10px;
    height:25px;
      
}
.product-list{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.product-list .productRow{
    padding-left: 10px;
    padding-bottom:10px;
    padding-top:10px;
}
.productName{
    float:left;
    width:100px;
    display: table-cell;
    vertical-align: middle;
}
.productNameInput{
     float:left;
    width:100px;
    display: table-cell;
    vertical-align: middle;
}
.addDeleteAmount{
    text-align: center;
    width:500px;
    display: inline-block;
    
}
.currentAmount{
    background-color:#E8E8E8;
    padding-left:12px;
    padding-right:12px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 3px;
    font-size:12px;
}
.decrease{
    width:30px;
    height:30px;
    border-radius: 20px;
    background-color: #DB2828;
    color:white;
    font-weight:500;
    font-size:18px;
    border:10px;
    box-shadow: 0 2px darkred;
    outline:none;
}
.disabledDecrease{
     pointer-events:none;
     opacity:0.3;
}
.increase{
    outline:none;
    width:30px;
    height:30px;
    border-radius:20px;
    border:10px;
    background-color:#21BA45;
    color:white;
    font-weight: 500;
    font-size:18px;
     border:10px;
    box-shadow: 0 2px darkgreen;
}
.buyed{
    padding:0px 20px;
    border-radius:5px;
    box-shadow:0 2px darkgrey;
    height:30px;
    background-color:#E8E8E8;
    margin-bottom:10px;
}
.cancel{
    background-color:#DB2828;
    color:white;
    width:32px;
    height:28px;
    font-weight:700;
    border-radius: 5px;
    border:10px;
    box-shadow:0 3px darkred;
    
}
.buyedAndCanceled{
    float:right;
    margin-right:10px;
}

.right-panel{
     background-color: white;
    width:400px;
    height:100%;
    float:left;
    margin-left:20px;
    border-radius:5px;
    box-shadow:0 0 7px grey;
    padding-bottom:10px;
   
}
.right-panel div{
    border-radius:0px;
    margin-top:10px;
    padding-bottom:7px;
}
.leftWrapper{
    border-bottom:1px solid lightgrey;
}
.left {
    font-weight:700;
    font-size:20px;
    margin-left:10px;
}
.productNameBuyed{
    text-decoration:line-through;
}
.increaseBuyed{
    pointer-events:none;
    opacity:0;
}
.decreaseBuyed{
   pointer-events:none;
    opacity:0;
}
.cancelBuyed{
    pointer-events:none;
    opacity:0;
}
.buyedBuyed{
    display:none;
}
.notBuyed{
    display:none;
}
.buyedLabelWrapper{
    border-bottom:1px solid lightgrey;
}
.buyedLabel{
    font-weight:700;
    font-size:20px;
    margin-left:10px;
}

.leftListWrapper{
    border-bottom:1px solid lightgrey;
    
}
.leftLabelInputWrapper{
    display:inline-block;
    background-color:#E8E8E8;
    padding:8px 10px;
    font-size:12px;
    border-radius:3px;
    margin-left:5px;
    margin-top:5px;
}

.leftAmount{
    background-color: #F2711C;
    color:white;
    padding:5px 10px;
    border-radius:15px;
}
.buyedListWrapper{
    border-bottom:1px solid lightgrey;
}
.buyedList span{
    background-color:#E8E8E8;
    padding:8px 10px;
    font-size:12px;
    border-radius:3px;
    margin-left:5px;
}
